@import url('media.css');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@font-face {
 font-family: 'Kablammo';
 src: url('../fonts/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf') format('truetype');
}
h1{
    font-family: 'Kablammo';
    background-color: aqua;
    border: 1px solid #568
}
p{
    font-family: 'Kablamo2';
}
#header{border: none;}
.nav a{
    text-decoration: none;
}
.nav{
    background: #565;
    a{
        font-size: large;
    }
}
li{
    display: flex;
    justify-content: center;
    background-color: #aa77a6;
    margin: 10px 0;
    padding: 5px;
    box-sizing: border-box;

    
}

li:hover{
        background-color: #fad2f4;
        transition: 0.5s;
    }

ol{
    font-family: "Great Vibes", cursive, monospace;
    width: 25%;
    list-style-type: none;
}

ol a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;

}

ol a:hover{
    color: #000;
    transition: 0.5s;
}
